{% extends "layout.html" %}

{%  block title %}
    Welcome !
{% endblock %}

{% block main %}
    <div class="index-main text-light d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-shadow">The Lucid Dreaming Journey</h1>
        <p class="mt-5 fw-bold">An introduction to lucid dreaming.</p>
        <div>
            <a href="/dreamjournal" class="btn btn-primary me-5">Dream Journal</a>
            <a href="/introduction" class="btn btn-success">Introduction</a>
        </div>
    </div>
{% endblock %}