{% extends "layout.html" %}

{%  block title %}
    Dream Journal
{% endblock %}

{% block main %}
    <div class="modal fade" tabindex="-1" id="dream-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a dream</h5>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control mb-2" id="dream-title" placeholder="Dream Title...">
                    <textarea class="form-control mb-2" id="dream-desc" style="height: 150px;" placeholder="Dream Content..."></textarea>
                    <div class="mb-2">
                        <input type="checkbox" id="is-lucid">
                        <label for="checkbox">Lucid ?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="save-dream-btn" class="btn btn-primary">Save Dream</button>
                </div>
            </div>
        </div>
    </div>

    <div class="blue-bg text-light d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-shadow mb-5">Dream Journal</h2>
        <button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#dream-modal">
            Add Dream
        </button>
        <div id="dreams-list">
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const saveDreamButton = document.getElementById("save-dream-btn")
    const isLucidCheckbox = document.getElementById("is-lucid")
    const dreamTitle = document.getElementById("dream-title")
    const dreamDesc = document.getElementById("dream-desc")
    const dreamsList = document.getElementById("dreams-list")

    // Load dreams
    let savedDreams = JSON.parse(localStorage.getItem("dreams") || "[]");

    // Render dreams
    savedDreams.forEach(dream => {
        const dreamContainer = document.createElement("div");
        dreamContainer.classList.add("dream-container", "mb-5", "border");

        if (dream.lucid){
            dreamContainer.classList.add("border-info")
        }

        const dreamName = document.createElement("h5");
        dreamName.innerText = dream.title;

        const dreamDescription = document.createElement("p");
        dreamDescription.innerText = dream.desc;

        dreamContainer.appendChild(dreamName);
        dreamContainer.appendChild(dreamDescription);

        dreamsList.appendChild(dreamContainer);
    });

    // Save a dream
    saveDreamButton.addEventListener("click", () => {
        const newDream = {
            title: dreamTitle.value,
            desc: dreamDesc.value,
            lucid: isLucidCheckbox.checked
        };

        savedDreams.push(newDream); // Add to array
        localStorage.setItem("dreams", JSON.stringify(savedDreams)); // Save array

        location.reload(); // Reload to re-render
    });
</script>
{% endblock %}