<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary white-text">
        <div class="container">
            <a class="navbar-brand" href="/">The Lucid Dreaming Journey</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        {% if tab == 1 %}
                            <a class="nav-link active" href="/introduction">Introduction</a>
                        {% else %}
                            <a class="nav-link" href="/introduction">Introduction</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if tab == 2 %}
                            <a class="nav-link active" href="/dreamjournal">Dream Journal</a>
                        {% else %}
                            <a class="nav-link" href="/dreamjournal">Dream Journal</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if tab == 3 %}
                            <a class="nav-link active" href="/quiz">Quiz</a>
                        {% else %}
                            <a class="nav-link" href="/quiz">Quiz</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block main %}
        {% endblock %}
    </main>
    
    {% block scripts %}{% endblock %}
</body>

</html>