{% extends "layout.html" %}

{%  block title %}
    Lucid Dreaming Quiz
{% endblock %}

{% block main %}
    <div class="blue-bg text-light d-flex flex-column justify-content-center align-items-center">
        <h2 class="text-shadow">Lucid Dreaming Quiz</h2>
        <div class="quiz-container text-black mt-5 border rounded bg-light">
            <p id="question-title">Q1. {{q1}}</p>
            <div class="question-container p-4">
                <div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3">
                    {% for answer in pa %}
                        <button class="btn btn-primary col">{{answer}}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let questionNumber = 1
        let loading = false
        let questionData = {}

        let finalResult = 0
        let canValidate = true

        document.querySelectorAll('button').forEach(btn => {
            btn.addEventListener("click", () => {
                submitAnswer(questionNumber, btn)
            })
        })


        async function submitAnswer(questionNumber, btnSelected){
            if (loading) {return}
            loading = true

            const fd = new FormData();
            fd.append("answer", btnSelected.innerHTML);
            fd.append("current_question", questionNumber)

            try {
                res = await fetch("/quiz", {method: "POST", body: fd})
                data = await res.json()
            } catch (err) {
                console.log("error fetch : " + err)
                loading = false
            }

            if (data.verdict == "correct"){
                correctButtonStyle(btnSelected)
                if (canValidate) {finalResult++}
                nextQuestionDelay(data)
            }else if (data.verdict == "end"){
                if (canValidate) {finalResult++}
                localStorage.setItem("fr", finalResult.toString())
                window.location.href = "/quizresult"
            } else{
                incorrectButtonStyle(btnSelected)
                canValidate = false
                loading = false
            }

        }

        async function nextQuestionDelay(data){
            setTimeout(() => {
                switchQuestion(data)
            }, "1000");
        }

        async function switchQuestion(data){
            questionNumber++
            canValidate = true
            questionData = data["next_question"]
            document.querySelector("#question-title").innerHTML = "Q" + questionNumber + "." + " " + questionData.title

            let index = 0
            document.querySelectorAll('button').forEach(btn => {
                defaultButtonStyle(btn)
                btn.innerHTML = questionData.possible_answer[index - 1]
                index++
            })
            index = 0
            loading = false
        }

        function incorrectButtonStyle(button){
            button.classList.add("btn-danger")
            button.classList.remove("btn-primary")
        }

        function correctButtonStyle(button){
            button.classList.add("btn-success")
            button.classList.remove("btn-primary")
        }

        function defaultButtonStyle(button){
            if (button.classList.contains("btn-primary") == false){
                button.classList.add("btn-primary")
                button.classList.remove("btn-danger")
                button.classList.remove("btn-success")
            }
        }
    </script>
{% endblock %}